body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  text-decoration-color: #212121;
}
.list {
  list-style: none;
}

/* ------------------Header---------------------------- */

.web {
  color: #2196f3;
}
.studio {
  color: black;
}
.site-nav .link {
  color: #212121;
}
.contacts .link {
  color: #757575;
}
.contacts .link:hover,
.contacts .link:focus {
  color: #2196f3;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
/* ------------------------hero----------------------------- */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: #ffffff;
}
.hero-btn {
  background-color: #2196f3;
  color: #ffffff;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}
/* ---------------------section------------------------------ */

.features-text {
  color: #757575;
}

.team {
  background-color: #f5f4fa;
}

.team-item {
  background-color: #ffffff;
}
.team-text {
  color: #757575;
}

/* ---------------------footer----------------------------- */

.address {
  background-color: #2f303a;
}
.address-addres {
  color: #ffffff;
}
.address-contacts {
  color: rgba(255, 255, 255, 0.6);
}
