:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}
a {
  font-style: normal;
  text-decoration: none;
}

/* ------------------Header---------------------------- */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.web {
  color: var(--accent-color);
}
.studio {
  color: black;
}
.site-nav .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link.current {
  color: var(--accent-color);
}
.contacts .link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
/* ------------------------hero----------------------------- */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}
/* ---------------------section------------------------------ */
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.our-work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-after-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team {
  background-color: #f5f4fa;
}

.team-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ---------------------footer----------------------------- */

.address {
  background-color: #2f303a;
}
.address-informations {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-addres,
.address-contacts {
  color: var(--primary-white-color);
}
.address-contacts:hover,
.address-contacts:hover {
  color: rgba(255, 255, 255, 0.6);
}

/* -------------------Portfolio-------------------------- */

.filter-btn-main {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.filter-btn-second {
  background-color: #f5f4fa;
  color: var(--primary-text-color);
}
.filter-btn-second:hover,
.filter-btn-second:host {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* ------------------Карточки------------------------- */
.list .title {
  color: var(--primary-text-color);
}
.list .after-title {
  color: var(--text-color);
}
